@{
    ViewData["Title"] = "Gallery";
}

<div class="text-center">
    <h1> Weld football league  </h1>
    <p> info za ligata  info za ligata  info za ligata  info za ligata  info za ligata info za ligata </p>
    <p><img scr=" "> amongus snimka </p>

</div>

