@{
    ViewData["Title"] = "Schedule";
}
<h1>@ViewData["Title"]</h1>

<table class="new-table">
    <tr class="table-row-border"> 
        <td>amongus 1</td>
    </tr>
    <tr class="table-row-border">
        <td>amongus 1</td>
    </tr>
    <tr class="table-row-border">
        <td>amongus 1</td>
    </tr>
    <tr class="table-row-border">
        <td>amongus 1</td>
    </tr>

</table>

