@{
    ViewData["Title"] = "Standings";
}
<h1>@ViewData["Title"]</h1>

<p>Current standings</p>
<div>
    <tb style="width: 40%" { border: 1px solid black;}>
        
        <tr>
            <th> Group A</th>
        </tr>
        <tr>
            <th>Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3 </th>
        </tr>
        <tr>
            <th>Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3 </th>
        </tr>
        <tr> 
            <th>Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3 </th>
        </tr>
        <tr>
            <th>Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3 </th>
        </tr>


    </tb>
</div>

<div>
    <tb style="width = 40%">
        <tr>
            <th> Group B</th>
        </tr>
        <tr>
            Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3
        </tr>
        <tr>
            Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3
        </tr>
        <tr>
            Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3
        </tr>
        <tr>
            Mqsto + Team name + logo + chislo 1 + chislo2 + chislo 3
        </tr>
    </tb>

</div>
