@{
    ViewData["Title"] = "Teams";
}
<h1>@ViewData["Title"]</h1>

<h1> About our teams</h1>
<p>
    ime s logo i malko info




    buton "more info"
</p>
<p>
    ime s logo i malko info




    buton "more info"
</p>
<p>
    ime s logo i malko info




    buton "more info"
</p><p>
    ime s logo i malko info




    buton "more info"
</p>
